-@tab = :about
#single
  .wrap
    %h1 About
    %p
      "<a href="http://2011.jsconf.us">JSConf</a> is awesome". That seems to be the going definition of this intimate conference series dedicated to the JS programming language. One thing has been made clear, JSConf is one of the best tech conferences out there and rightly so, because JavaScript or JS is one of the best languages out there. The core focus of this conference is to present the wonders of JavaScript that are often overlooked. The content of the conference caters to all types of JavaScript developers from client interface to server development to testing. So why all the talk about JSConf? Well, CapitolJS is a spin out of JSConf in a similar fashion as the epic <a href="http://texasjavascript.com">TXJS</a> event. Instead of growing massive, we are bringing the show to you! Capitol will feature more hands-on, more practicality, and more intimacy so you get what you need and fast!

    %p{:style => "text-align: center"}
      %a{:href => "https://developer.mozilla.org/en/JavaScript", :title => "JavaScript API"}
        %img{:alt => "JavaScript API", :height => "150", :src => "http://static.jsconf.us/promotejsh.gif", :width => "180"}/
      %br/
      %a{:href => "http://promotejs.com"} About PromoteJS
    %p The JSConf conference model focuses on two things, presenting mind-altering JavaScript technology during the daytime and providing exceptional "networking" parties during the evenings. JavaScript is exploding on the scene despite years of being behind the curtain as the workhorse of the web. JSConf and similar events (like TXJS and CapitolJS) are right there to expose and help push the state of the art with JavaScript in the browser, server, mobile, and desktop environments. One of the key differentiators about JSConf events is that its put on by a (crazy) group of JavaScript developers just like you, so we ensure that everything that matters is taken care. We believe quality matters over quantity and that you deserve a better conference every year running.
    
    %h1 Who are we?
    .person.clearfix
      %img{:alt => "Chris Williams - Curator JSConf", :height => "150", :src => "images/chris.png", :width => "150"}/
      %h4
        Chris Williams -
        %a{:href => "http://www.twitter.com/voodootikigod"} @voodootikigod
      %p
        Chris is the Vice President of Product Development at
        = succeed "," do
          %a{:href => "http://www.ourparents.com"} OurParents
        co-curator of
        = succeed "," do
          %a{:href => "http://jsconf.com"} JSConf
        founder of
        = succeed "," do
          %a{:href => "http://www.iterativedesigns.com"} Iterative Designs
        and producer of
        %a{:href => "http://jsconflive.com"} JSConf Live
        and the
        %a{:href => "http://www.minutewith.com"} Minute With
        podcast series. He has some crazy ideas about how we, technical leaders around the world, should
        = succeed "." do
          %a{:href => "http://voodootikigod.com/jsconf-eu-2010-speech"} grow sustainable development communities
          
      %p
        %a{:href=>"mailto:chris@jsconf.com"} Email Chris
    .person.clearfix
      %img{:alt => "Laura Williams - Curator JSConf", :height => "150", :src => "images/laura.png", :width => "150"}/
      %h4
        Laura Williams -
        %a{:href => "http://www.twitter.com/lwilliams"} @lwilliams
      %p
        Laura is the founder of
        %a{:href => "http://lodafloraldesign.com/"} Loda Floral Design
        and the co-curator of
        = succeed "." do
          %a{:href => "http://jsconf.com"} JSConf
        She is the organizational force behind
        %a{:href => "http://jsbootcamp.com"} JS Boot Camp
        in Washington, DC and quite impressively is a licensed architect and an awesome mother.
      %p
        %a{:href=>"mailto:laura@jsconf.com"} Email Laura
